# Default owner, used to cover all Hugo and non content files.
# Unless a later match takes precedence, they will be requested for
# review when someone opens a pull request.
*                             @abbyad

# Owner of GitHub Actions
.github/workflows/            @nomulex

# Owners for specific content in the docs site
content/en/apps/              @MaxDiz
content/en/apps/concepts      @MaxDiz
content/en/apps/examples      @MaxDiz
content/en/apps/features      @MaxDiz
content/en/apps/guides        @michaelkohn
content/en/apps/reference     @garethbowen
content/en/apps/tutorials     @smbuthia
content/en/contribute/        @MaxDiz
content/en/contribute/code/   @garethbowen
content/en/core/              @garethbowen
content/en/design/            @n-orlowski
content/en/why-the-cht        @isaacholeman

# Owners for code files that could be within content folders  
*.js                          @abbyad
*.html                        @abbyad
*.css                         @mrjones-plip
*.scss                        @mrjones-plip
