services:
  hugo:
    container_name: cht-hugo
    image: jakejarvis/hugo-extended:0.113.0 # note that 0.122 isn't avail, but 0.113 has everything we need for now
    ports:
      - 1313:1313
    volumes:
      - ./:/src
    command: server --buildDrafts --buildFuture --bind 0.0.0.0
