+++
title = "Guide de santé communautaire"
linkTitle = "CHT"

+++

{{< blocks/cover title="Bienvenue au guide de santé communautaire!" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<!-- <a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Documentation (en anglais) <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a> -->
	<!-- <a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/google/docsy-example">
		Download <i class="fab fa-github ml-2 "></i>
	</a> -->
	<p class="lead mt-5">Des technologies open source pour un nouveau modèle de santé qui atteint tout le monde.</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Un groupe d'organismes majeurs desservant dans les communautés les plus difficiles d'accés s'est réuni pour créer le guide de santé communautaire (GSC). Le GSC est une ensemble de technologies open source, de ressources techniques, de conception et de mise en œuvre en libre accès qui vous aide à créer et à déployer des outils numériques pour la santé communautaire.

Ensemble, nous imaginons un monde où les soins de santé sont de la plus haute qualité possible, équitables, accessibles et fournis par des gens en qui la communauté a confiance.
{{% /blocks/lead %}}

{{< blocks/section color="white" >}}
{{% blocks/feature icon="fa-lightbulb" title="Applis de santé numériques" %}}
Le GSC prend en charge des applications de santé numériques évolutives qui outillent les agents de santé en leur fournissant de meilleurs premiers soins pour leurs communautés. 
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Participez!" url="https://github.com/medic/medic-docs/blob/master/development/workflow.md" %}}
Nous avons un processus de [developement](https://github.com/medic/cht-core/pulls) à **GitHub**. Toutes les contributions sont bienvenus!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Suivez nous à Twitter!" url="https://twitter.com/medic" %}}
Pour les toutes dernières nouvelles.
{{% /blocks/feature %}}


{{< /blocks/section >}}
