/*

Add styles or override variables from the theme here.

*/

// Make it easy to use theme variables
@import "variables";

$primary: #5f7681;
$secondary: #F58301;
$dark: #333F47;
$info: #007AC0;
$warning: #E33030;
$build: $primary;

/* Needed so that headers in blockquotes and notes don't draw up into previous content */
h4[id]:before, h5[id]:before {
  margin-top: 0rem!important;
  height: 0rem!important;
}

.right {
  float: right;
}

.left {
  float: left;
}

.partner-logos img {
  width:15%;
  min-width:120px;
  padding:0.2em
}

h2, h3 {
  clear: both;
}

.one-liner {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.meta-links a {
    display: block;
}

.alert
{
  clear: both;
}

#td-sidebar-menu {
  .td-search-input {
    max-width: none;
  }
  .td-sidebar__search {
    padding-bottom: 0;
  }
}

.td-sidebar {
  padding-bottom: 0 !important;
}

// https://github.com/medic/cht-docs/issues/212
#td-section-nav {
  .td-sidebar-nav {
    &__section {
      label {
        padding-left: 0.7rem;
      }
      .without-child, .with-child {
        padding-left: 0.5rem;
      }
    }
  }
  .td-sidebar-link {
    &__page {
      font-weight: $font-weight-normal;
    }
    &__page.active {
      color: $secondary;
      font-weight: $font-weight-bold;
    }
    &__section.active {
      color: $primary;
    }
    &__section.selected {
      color: $secondary;
    }
  }
}

.workflow {
  font-size: 90%;

  .fas {
    font-size: 2em;
    color: $info;
  }

  > .row:nth-child(n+2){
    border-top: 1px solid #eee;
    padding: 0.5rem 0;
  }

  > .row > div.text {
    padding-bottom: 0.5rem;
  }
}

.schedule + table th  {
  width: 3em ;
}
.schedule + table td:not(:first-child):not(:empty)  {
  vertical-align: middle;
  background-image: url("/circle.svg");
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  color: #78b159;
  font-size: 1pt;
}

.fa-rotate-45 {
  transform: rotate(45deg);
}

// When using {{< highlight "linenos=table" >}} {{< / highlight >}} blocks, make line numbers unselectable
.highlight table td:first-child code span  {
  user-select:none;
}

.mermaid {
  padding-bottom: 30px;
}

.td-content .highlight pre {
  position: relative;
}

@import 'td/code-dark';