/*

Add styles or override variables from the theme here.

*/

$primary: #5f7681;
$secondary: #F58301;
$dark: #333F47;
$info: #007AC0;
$warning: #E33030;
$build: $primary;

/* Needed so that headers in blockquotes and notes don't draw up into previous content */
h4[id]:before, h5[id]:before {
  margin-top: 0rem!important;
  height: 0rem!important;
}

.right {
  float: right;
}

.left {
  float: left;
}

.partner-logos img {
  width:15%;
  min-width:120px;
  padding:0.2em
}

h2, h3 {
  clear: both;
}

.one-liner {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.meta-links a {
    display: block;
}

.alert
{
  clear: both;
}


.td-sidebar-nav {
  a.active {
    font-weight: 700!important;
  }
  &__section {
    .show {
      padding-left: .5rem;
    }
    > ul {
      padding-left:0!important;
    }
  }

  &__section-title {
    a:after { 
      content: "\23F5";
      opacity: 0.5;
    }
    a.active:after { 
      content: "\23F7";
      opacity: 0.5;
    }
  }

  .td-sidebar-link {
    &__page {
      font-weight: 400!important;
    }
    &__page.active {
        color: $secondary!important;
    }
    &__section.active {
      color: $primary!important;    
    }
    &__section.selected {
      color: $secondary!important;
    }
  }
}
