/*

Add styles or override variables from the theme here.

*/

$primary: #607682;
$secondary: #F58301;
$dark: #333F47;
$info: #007AC0;
$warning: #E33030;
$build: $primary;

/* Needed so that headers in blockquotes and notes don't draw up into previous content */
h4[id]:before, h5[id]:before {
  margin-top: 0rem!important;
  height: 0rem!important;
}

.right {
  float: right;
}

.left {
  float: left;
}

.partner-logos img {
  width:15%;
  min-width:120px;
  padding:0.2em
}

h2, h3 {
  clear: both;
}

.one-liner {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.meta-links a {
    display: block;
}

.alert
{
  clear: both;
}


.td-sidebar-nav__section-title a {
    color: #fff;
}

.td-sidebar-nav__section ul {
    padding: 0;
    margin: 0 0 0 0.5em;
}