<!-- Modified from docsy theme to show related content -->
<!-- https://github.com/google/docsy/blob/c65715725ee992cd4e59aeefe0f66df80b2eb4ea/layouts/_default/content.html -->
<div class="td-content">
	<h1>{{ .Title }}</h1>
	{{ with .Params.description }}<div class="lead">{{ . | markdownify }}</div>{{ end }}
	<header class="article-meta">
		{{ partial "taxonomy_terms_article_wrapper.html" . }}
		{{ if (and (not .Params.hide_readingtime) (.Site.Params.ui.readingtime.enable)) }}
		{{ partial "reading-time.html" . }}
		{{ end }}
	</header>
	{{ if eq (.Params.show_toc) true }}
	{{ .TableOfContents }}
	{{ end }}
	{{ .Content }}
<!-- Show related content - https://github.com/medic/cht-docs/commit/7daf27fe8e58c225759276a0284043dfcafde550 -->
	{{ partial "related.html" . }}
	{{ if (and (not .Params.hide_feedback) (.Site.Params.ui.feedback.enable) (.Site.Config.Services.GoogleAnalytics.ID)) }}
	{{ partial "feedback.html" . }}
	<br />
	{{ end }}
	{{ if (.Site.Params.DisqusShortname) }}
	<br />
	{{ partial "disqus-comment.html" . }}
	{{ end }}
	{{ partial "page-meta-lastmod.html" . }}
</div>