<!-- Modified from docsy theme to show meta links -->
<!-- https://github.com/google/docsy/blob/c65715725ee992cd4e59aeefe0f66df80b2eb4ea/layouts/partials/page-meta-lastmod.html -->
{{ if and (.GitInfo) (.Site.Params.github_repo) -}}
<div class="text-muted mt-5 pt-3 border-top">
    {{ T "post_last_mod" }} {{ .Lastmod.Format .Site.Params.time_format_default -}}
    {{ with .GitInfo }}: {{/* Trim WS */ -}}
    <a href="{{ $.Site.Params.github_repo }}/commit/{{ .Hash }}">
        {{- .Subject }} ({{ .AbbreviatedHash }}) {{- /* Trim WS */ -}}
    </a>
    {{- end }}
</div>
{{ end -}}
<!-- Show meta links when not displayed in right pane - https://github.com/medic/cht-docs/commit/05d9fffe77fa4dadd55ddc83b72c32fda569b40e -->
<div class="d-xl-none d-print-none meta-links">{{ partial "page-meta-links" . }}</div>
