+++
title = "Community Health Toolkit"
linkTitle = "CHT"

+++

{{< blocks/cover title="Welcome to the Community Health Toolkit!" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<!-- <a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/google/docsy-example">
		Download <i class="fab fa-github ml-2 "></i>
	</a> -->
	<p class="lead mt-5">We are building open source technology for a new model of healthcare that reaches everyone</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
The Community Health Toolkit (CHT) is a project by a group of leading organizations who have come together to support the development of digital health initiatives in the hardest-to-reach areas. It provides a collection of open source technologies and open access design, technical, and implementer resources that help you build and deploy digital tools for community health. 

Together, we envision a world where healthcare is of the highest attainable quality, equitable, accessible, and delivered by people who are trusted in their communities.  
{{% /blocks/lead %}}

{{< blocks/section color="white" >}}
{{% blocks/feature icon="fa-lightbulb" title="Digital Health Apps" %}}
Developers and designers in our open source community work together to build and expand the Community Health Toolkit, which is used for the creation of new digital health apps.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/medic/medic-docs/blob/master/development/workflow.md" %}}
We do a [Pull Request](https://github.com/medic/cht-core/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/medic" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}
