<!-- kapa.ai Assistant Integration. Documentation: https://docs.kapa.ai/integrations/website-widget/installation/general -->
<script async=""
  src="https://widget.kapa.ai/kapa-widget.bundle.js"
  data-website-id="de260d96-3c0b-4ddd-a7e5-8013809dfb12"
  data-project-name="Community Health Toolkit"
  data-project-color="#41AFAF"
  data-project-logo="https://docs.communityhealthtoolkit.org/logo.png"
  data-font-family="Noto Sans,sans-serif"
  data-modal-disclaimer="This is a custom LLM for Community Health Toolkit (CHT) with access to all [Documentation](https://docs.communityhealthtoolkit.org), [GitHub Issues and READMEs](https://github.com/medic/cht-core) and the [CHT Forum](https://forum.communityhealthtoolkit.org). Rate the answers to let us know what you think!" 
  data-modal-example-questions="How do I run the CHT locally?,How can I contribute to the CHT?" 
  data-button-text-color="#FFFFFF" 
  data-modal-header-bg-color="#41AFAF" 
  data-modal-title-color="#FFFFFF" 
  data-modal-title="CHT Docs AI" 
  data-modal-disclaimer-bg-color="#DFEAEA" 
  data-modal-disclaimer-text-color="#000000" 
  data-modal-ask-ai-input-placeholder="Ask me a question about the CHT..."
  data-consent-required="true" 
  data-consent-screen-disclaimer="By clicking &quot;I agree, let's chat&quot;, you consent to the use of the AI assistant in accordance with kapa.ai's [Privacy Policy](https://www.kapa.ai/content/privacy-policy)."
  data-bot-protection-mechanism="hcaptcha"
  data-kapa-branding-text="powered by [kapa.ai](https://www.kapa.ai) and [Medic](https://medic.org/)"
  data-modal-open-on-command-k="true" 
  data-modal-border-radius="6px"
  data-search-mode-enabled="true"
></script>
