{{/* DEFAULTS */}}
{{ $user    := "communityhealthtoolkit" }}
{{ $height  := 400 }}
{{ $tab     := "result" }}{{/* html|css|js|result */}}
{{ $theme   := 8862 }}{{/* create on codepen.io */}}
{{ if .IsNamedParams }}
{{ $id  := "" }}
{{ else }}
{{ $id  := .Get 0 }}
{{ end }}
<script
    data-slug-hash="{{ $id }}"
    data-user="{{ or (.Get "user") $user }}"
    data-height="{{ or (.Get "height") $height }}"
    data-default-tab="{{ or (.Get "tab") $tab }}"
    data-theme-id="{{ or (.Get "theme") $theme }}"
    class='codepen'
    async
    src="//codepen.io/assets/embed/ei.js"
></script>
