{{ $save := . }}
{{ $title := $save.Get "title" }}
{{ $page := .Get "page" }}
{{ $anchor := .Get "anchor" }}

{{ if not ( $.Site.GetPage $page ) }}
    {{ if (eq $.Site.Params.linkErrorLevel "WARNING") }}
        {{ warnf "[see-also] REF_NOT_FOUND: Ref \"%s\": \"%s\": page not found" $page $save.Page.File.Path }}
    {{ else }}
        {{ errorf "[see-also] REF_NOT_FOUND: Ref \"%s\": \"%s\": page not found" $page $save.Page.File.Path }}
    {{ end }}
{{ end }}

<p>
    <em>
    {{ ( or (.Get "prefix") "See Also" ) }}:
    </em>{{ with $.Site.GetPage $page }}
    {{ $finaltitle := .Title }}{{ $finalhref := (ref . $page) }}{{ $finalanchor := "null" }}{{ if $title }}{{ $finaltitle = $title }}{{ end }}{{ if $anchor }}<a href="{{ $finalhref }}#{{ $anchor }}" >{{ $finaltitle }}</a>
    {{ else }}<a href="{{ $finalhref }}" >{{ $finaltitle }}</a>
    {{ end }}
</p>
{{ end }}