{{ $save := . }}
{{ $page := .Get "page" }}
{{ $anchor := .Get "anchor" }}
{{ $prefix :=  or ($save.Get "prefix") "See Also"  }}

{{ with $.Site.GetPage $page }}
    {{ $title := or ($save.Get "title") .Title }}
    {{ $url := ref . $page }}
    {{ with $anchor }}
        {{ $url = print $url "#" $anchor }}
    {{ end }}
    <p><em>{{ $prefix }}</em>: <a href="{{ $url }}">{{ $title }}</a></p>
{{ else }}
    {{ if (eq $.Site.Params.linkErrorLevel "WARNING") }}
        {{ warnf "[see-also] REF_NOT_FOUND: Ref \"%s\": \"%s\": page not found" $page $save.Page.File.Path }}
    {{ else }}
        {{ errorf "[see-also] REF_NOT_FOUND: Ref \"%s\": \"%s\": page not found" $page $save.Page.File.Path }}
    {{ end }}
{{ end }}