<!-- Collapse the TOC sidebar to give Swagger UI more width -->
<style>.hextra-toc { width: 0; overflow: hidden; padding: 0; }</style>

<!-- Swagger UI CSS -->
<link rel="stylesheet" href="https://unpkg.com/swagger-ui-dist@5.27.1/swagger-ui.css" />
{{- $swaggerCss := resources.Get "css/swagger.css" -}}
<link rel="stylesheet" href="{{ $swaggerCss.RelPermalink }}" />

<div id="swagger-ui"></div>

<!-- Swagger UI JavaScript -->
<script src="https://unpkg.com/swagger-ui-dist@5.27.1/swagger-ui-bundle.js" crossorigin></script>
<script src="https://unpkg.com/swagger-ui-dist@5.27.1/swagger-ui-standalone-preset.js" crossorigin></script>
{{- $swaggerJs := resources.Get "js/swagger.js" -}}
<script src="{{ $swaggerJs.RelPermalink }}"></script>
