{{- $url := .Get "url" | default "/openapi.json" -}}
{{- $filter := .Get "filter" | default "true" -}}
{{- $operationsSorter := .Get "operationsSorter" | default "alpha" -}}
{{- $tagsSorter := .Get "tagsSorter" | default "alpha" -}}
{{- $docExpansion := .Get "docExpansion" | default "list" -}}
{{- $id := .Get "id" | default "swagger-ui" -}}

<!-- Collapse the TOC sidebar to give Swagger UI more width -->
<style>.hextra-toc { width: 0; overflow: hidden; padding: 0; }</style>

<!-- Swagger UI CSS -->
<link rel="stylesheet" href="https://unpkg.com/swagger-ui-dist@5.27.1/swagger-ui.css" />
{{- $swaggerCss := resources.Get "css/swagger.css" -}}
<link rel="stylesheet" href="{{ $swaggerCss.RelPermalink }}" />

<div id="{{ $id }}"></div>

<!-- Swagger UI JavaScript -->
<script src="https://unpkg.com/swagger-ui-dist@5.27.1/swagger-ui-bundle.js" crossorigin></script>
<script src="https://unpkg.com/swagger-ui-dist@5.27.1/swagger-ui-standalone-preset.js" crossorigin></script>
<script>

  const buildPermissionsPills = (items = []) => items.map(p => `<code class="x-permissions__pill">${p}</code>`).join('');

  const buildPermissionsBadge = (perms) => {
    const badge = document.createElement('div');
    badge.className = 'x-permissions';
    const hasAllPills = buildPermissionsPills(perms.hasAll);
    const hasAnyPills = buildPermissionsPills(perms.hasAny);
    const hasAnyContent = hasAnyPills ? ` any of: (${hasAnyPills})` : '';
    const line = document.createElement('span');
    line.className = 'x-permissions__line';
    line.innerHTML = `<span class="x-permissions__label">Permissions - </span>${hasAllPills}${hasAnyContent}`;
    badge.appendChild(line);
    return badge;
  };

  const XPermissionsPlugin = () => ({
    wrapComponents: {
      operation: (Original, system) => (props) => {
        const h = system.React.createElement;
        const propOperation = props.operation.get('op')
        const perms = propOperation.get?.('x-permissions')?.toJS();

        if (!perms || (!perms.hasAny && !perms.hasAll)) {
          return h(Original, props);
        }

        const ref = (node) => {
          const descWrapper = node?.querySelector('.opblock-description-wrapper');
          if (!descWrapper || descWrapper.querySelector('.x-permissions')) {
            return;
          }

          const badge = buildPermissionsBadge(perms);
          descWrapper.prepend(badge);
        };

        return h('div', { ref }, h(Original, props));
      }
    }
  });

  window.addEventListener('DOMContentLoaded', () => {
    SwaggerUIBundle({
      dom_id: '#{{ $id }}',
      url: {{ $url }},
      presets: [SwaggerUIBundle.presets.apis, SwaggerUIStandalonePreset],
      plugins: [XPermissionsPlugin],
      filter: {{ $filter }},
      operationsSorter: {{ $operationsSorter }},
      tagsSorter: {{ $tagsSorter }},
      docExpansion: {{ $docExpansion }},
      deepLinking: true,
      supportedSubmitMethods: []
    });
  });
</script>
