<!-- Swagger UI CSS -->
<link rel="stylesheet" href="https://unpkg.com/swagger-ui-dist@5.27.1/swagger-ui.css" integrity="sha384-++DMKo1369T5pxDNqojF1F91bYxYiT1N7b1M15a7oCzEodfljztKlApQoH6eQSKI" crossorigin="anonymous" />
{{- $swaggerDarkCss := resources.Get "css/swagger-dark-mode.css" -}}
<link rel="stylesheet" href="{{ $swaggerDarkCss.RelPermalink }}" />
{{- $swaggerCss := resources.Get "css/swagger.css" -}}
<link rel="stylesheet" href="{{ $swaggerCss.RelPermalink }}" />

<div id="swagger-ui"></div>

<!-- Swagger UI JavaScript -->
<script src="https://unpkg.com/swagger-ui-dist@5.27.1/swagger-ui-bundle.js" integrity="sha384-5pEDYOWQic3ejKOvYt1kQ5QWoglLXBxyqM5/7vL8NrQW4YHiKCswfiHxxBp77KJN" crossorigin="anonymous"></script>
<script src="https://unpkg.com/swagger-ui-dist@5.27.1/swagger-ui-standalone-preset.js" integrity="sha384-Zc0myuwGRY+wF+Mppj70Hoq/w2OticNP92nkFTlghzBS/OxDNlYummEqqmcOCyAX" crossorigin="anonymous"></script>
{{- $swaggerJs := resources.Get "js/swagger.js" -}}
<script src="{{ $swaggerJs.RelPermalink }}"></script>
