# Notes:
#  - All software installed below is pinned so they don't get upgraded and break w/o us knowing why.
#  - If you bump one version up to latest, please bump them all so we stay current!
#  - Hugo builds the site twice: once for link checking and once minified for pushing live
#  - Bash script for muffet is intentionally stand alone so devs/content editors can easily run it locally

on:
  push:
    branches:
      - '*' # branch checking is below so all this is one CI file
  pull_request:
    branches:
      -  '*' # branch checking is below so all this is one CI file

name: Test site and push live if we're on Master
jobs:
  BuildLinkCheckPushLive:
    name:
    runs-on: ubuntu-18.04
    steps:

      - name: All Branches - Git checkout, including recursive call for Docsy theme
        uses: actions/checkout@v2
        with:
          submodules: recursive  # Fetch the Docsy theme
          fetch-depth: 0         # Fetch all history for .GitInfo and .Lastmod

      - name: All Branches - Install hugo extended v0.71.1
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: "0.71.1"
          extended: true

      - name: All Branches - Install Node 12.x
        uses: actions/setup-node@v1
        with:
          node-version: '12.x'

      - name: All Branches - Install npm modules for Hugo
        run: npm install

      # Run "build" to catch errors as early as possible in CI
      - name: All Branches - Test For Broken Builds in Hugo
        run: hugo

      - name: Master Branch Only - Build for prod with minify
        if: github.ref == 'refs/heads/master'
        run: env HUGO_ENV="production" hugo --minify

      - name: Master Branch Only - Deploy to GH pages
        if: ${{ github.ref == 'refs/heads/master' }}
        uses: peaceiris/actions-gh-pages@v3
        with:
          personal_token: ${{ secrets.DEPOLY_TO_SITE}}
          external_repository: medic/medic.github.io
          publish_dir: ./public
          user_name: medic-ci
          user_email: medic-ci@github
          publish_branch: master

      - name: Master Branch Only - Report errors to Slack, if any
        if: ${{ github.ref == 'refs/heads/master' && failure() }}
        uses: rtCamp/action-slack-notify@v2.0.2
        env:
          SLACK_WEBHOOK: '${{ secrets.SLACK_WEB_HOOK }}'
          SLACK_CHANNEL: '#cht-squad-docs'
          SLACK_COLOR: '#3278BD'
          SLACK_ICON: ":flappingphone:"
          SLACK_MESSAGE: 'Deploy Failed'
          SLACK_TITLE: CHT DOCS DEPLOY
          SLACK_USERNAME: Medic-Bot